* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
div:nth-of-type(1) {
    display: flex;
    flex-direction: row;

}

h1 {
    text-align: center;
}

h3 {
   margin-bottom: 5%; 
}

h4 {
    border-top: 1px solid black;
    padding-top: 8%;
}

fieldset {
    width: 40%;
    margin: 2% auto;  
    font-size: 1rem;  
    border-radius: 5px;
    background: lightblue;
    padding: 3%;
}

.netTxt {
    text-indent: 1rem;
    margin-bottom: 0;
}

select, input[type=submit] {
    text-align: center;    
    margin: 2% auto;
} 

select {
    width: 80%;
}

input[type=submit] {    
    width: 45%;
    margin: 5% auto;
    border-radius: 5px;
    padding: 2%;
    text-align: center;  
}

#output {
    text-align: center;
}

.flexi {
    display: flex;
    justify-content: center;
}

input[type=number] {
    border-radius: 5px;
    padding: 1%;
    margin: 5% 0 7% 0; 
}

